#/bin/sh
PROJECT_DIR_PATH=$1
NRF_BOARD_NAME=$2
VV_IMG_SIGNING_KEY=vv.image.signing.key
export ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb
export GNUARMEMB_TOOLCHAIN_PATH={{ gnuarmeabi_path }}/gcc-arm-none-eabi-9-2019-q4-major
export ZEPHYR_BASE={{ nrf_sdk_path }}/zephyr
if [ "$#" -ne 2 ]; then
    echo "[build.sh][ERROR]: requires two arguments - PROJECT_DIR_PATH and NRF_BOARD_NAME"
fi

# rm -rf {{ nrf_sdk_path }}/bootloader/mcuboot
# git clone https://www.gitlab.com/vvsw/vv-zephyr-mcuboot.git {{ nrf_sdk_path }}/bootloader/mcuboot
# ssh-keygen -b 2048 -v -t rsa -N '' -f {{ nrf_sdk_path }}/bootloader/mcuboot/$VV_IMG_SIGNING_KEY

cd ${PROJECT_DIR_PATH}
rm -rf build
west build -b ${NRF_BOARD_NAME}
