#/bin/sh

# local build.sh script  -- ANSIBLE MANAGED but doesnt matter
if [ "$#" -ne 3 ]; then
    echo "[build.sh][ERROR]: requires three arguments"  # dont tell the user what they are :)
    exit -1
fi
local_dir_path=$1
remote_container_name={{ container_name }}
remote_project_path=$2
nrf_board_name=$3
printf "local_dir_path: %s\n"  $local_dir_path
printf "remote_container_name: %s\n" $remote_container_name
printf "remote_project_path: %s\n" $remote_project_path
printf 'lxc file push ${local_dir_path} %s%s --recursive\n' $remote_container_name $remote_project_path
lxc exec ${remote_container_name} -- rm -rf ${remote_project_path} 
lxc exec ${remote_container_name} -- mkdir -p ${remote_project_path}
lxc file push ${local_dir_path}/* ${remote_container_name}${remote_project_path} --recursive
# echo 'lxc exec ${remote_container_name} -- /opt/nrf/build.sh ${remote_project_path} ${nrf_board_name}\n'
lxc exec ${remote_container_name} -- /opt/nrf/build.sh ${remote_project_path} ${nrf_board_name}
lxc exec ${remote_container_name} -- /opt/nrf/flash.sh ${remote_project_path}
