#!/bin/sh

ZEPHYR_NRF_DEV_CONTAINER_NAME={{ container_name }}
SEGGER_USB_VID={{ segger_usb_vid }} # 1366
SEGGER_USB_PID={{ segger_usb_pid }} # 1055 nrdf5340pdk and 1054 dk

# remove the device if it already exists
/opt/lxd/bin/lxc config device remove $ZEPHYR_NRF_DEV_CONTAINER_NAME SEGGER
/opt/lxd/bin/lxc start $ZEPHYR_NRF_DEV_CONTAINER_NAME
# add the device 
/opt/lxd/bin/lxc config device add molecule--vv-role-nrf-zephyr-dev SEGGER usb vendorid=$SEGGER_USB_VID productid=$SEGGER_USB_PID