#/bin/sh
if [ "$#" -ne 1 ]; then
    echo "[flash.sh][ERROR]: requires one argument"  # dont tell the user what they are :)
fi
export ZEPHYR_BASE={{ nrf_sdk_path }}/zephyr
PROJECT_DIR_PATH=$1
cd ${PROJECT_DIR_PATH}
west flash
